/* Login Form Container */
.loginform-container {
    /* width: 100%; */

    
    max-width: 400px;
    height: 310px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    font-family: Arial, sans-serif;
  }
  
  /* Header */
  .loginform-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Paragraph */
  .loginform-container p {
    margin: 10px 0;
    color: #666;
  }
  
  /* Labels */
  .loginform-container label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }
  
  /* Input Fields */
  .loginform-container input[type='text'] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Button */
  .loginform-container button {
    /* width: 100%; */
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .loginform-container button:hover {
    background-color: #45a049;
  }
  